<<<<<<< HEAD
body{
    background-color: aliceblue;
    background-image: url(./images/crowd_concert.jpeg);
    height: fit-content;
}

h1{
    text-align: center;
}

/* .event_form{
    font-size: 14px;
    color: white; */

/* } */
h1 >div >div >a {
    color: white;
}

#recurring{
    align-items: center;
}







=======
body > header {
    background-color: aquamarine;
    margin: 0;
    padding: 20px;
}

body > main {
    background-color: rgb(92, 216, 129);
}

.events {
    background-color: rgb(211, 151, 163);
    padding: 5px;
   
    
}

#recuring {
    background-color: rgb(43, 255, 167);
    padding: 1px
    
}
>>>>>>> refs/remotes/origin/main
