{% extends "base.html" %} {% block content %}
    <h1>Event Planner</h1>


    {% for event in events %}
    <div class="events">
        <p class="flex-entry"><b>Event name: </b>{{ event.event_name }} <b>Event date: </b>{{ event.date }} 
            <b>Event description: </b>{{ event.description }} <b>Event location: </b>{{ event.room_location }}
             <b>Number of guests: </b>{{ event.guest_number }}
    
                {% if event.recuring %}
                    <span ID="recuring"> &#9736;
                                </span>
                            </p>
        {% endif %}
        <a href="delete/{{ loop.index - 1}}">&#10060;</a>
    </div>
    {% endfor %} 
    
    
    {% endblock %}